host, xp.apple.com, reject
host, gdmf.apple.com, reject
host, mesu.apple.com, reject
host, gsp9-ssl.apple.com, LocationServices
host, gsp10-ssl.apple.com, LocationServices
host-suffix, ls.apple.com, LocationServices
host-suffix, gs-loc.apple.com, LocationServices
host, gateway.icloud.com, iCloud
host-suffix, cdn-apple.com, direct