host, imap.gmail.com, proxy
host, smtp.gmail.com, direct
host, lh3.googleusercontent.com, proxy
host, lh4.googleusercontent.com, proxy
host, lh5.googleusercontent.com, proxy
host, m.hotmail.com, direct
host, login.microsoftonline.com, direct
host, outlook.office365.com, direct