host, upos-hz-mirrorakam.akamaized.net, direct
host-suffix, spotifycdn.com, direct
host-suffix, scdn.co, direct
host-suffix, phncdn.com, proxy
host-suffix, tplinkra.com, proxy
host-suffix, fast.com, proxy
host-suffix, cdn.whatsapp.net, proxy
host, web.facebook.com, proxy
host, www.facebook.com, proxy
host, rupload.facebook.com, proxy
host, edge-mqtt.facebook.com, proxy
host, ajax.googleapis.com, proxy
host, fonts.googleapis.com, direct
host, api.userway.org, proxy