host, grpc.biliapi.net, Bilibili
host-suffix, line-apps.com, Line
host, hkshort.weixin.qq.com, WeChat
host, hklong.weixin.qq.com, WeChat
host, hkextshort.weixin.qq.com, WeChat
host, hkminorshort.weixin.qq.com, WeChat
host, sgminorshort.wechat.com, WeChat
host-suffix, fna.fbcdn.net, Instagram