host, grpc.biliapi.net, Bilibili
host-suffix, line-apps.com, Line
host, hkshort.weixin.qq.com, WeChat
host, hklong.weixin.qq.com, WeChat
host, hkminorshort.weixin.qq.com, HK
host, sgminorshort.wechat.com, SG