# Prvent redirection to China domains
host-suffix, linkedin.cn, reject
# IPv6 local addresses
ip6-cidr, ::/128, reject
ip6-cidr, ::1/128, direct
ip6-cidr, fc00::/7, direct
ip6-cidr, fe80::/10, direct
# IPv6 catch-all
ip6-cidr, ::/0, JP
# Content CDNs (large)
host, lh3.googleusercontent.com, JP
host, lh4.googleusercontent.com, JP
host, lh5.googleusercontent.com, JP
host-suffix, github.io, JP
host-suffix, jsdelivr.net, JP
host-suffix, cloudfront.net, JP
host-suffix, teams.microsoft.com, JP
host-suffix, redditstatic.com, JP
host-suffix, cdn.nintendo.net, JP
host-suffix, fna.fbcdn.net, JP
host-suffix, cdninstagram.com, JP
host-suffix, ggpht.com, JP
host-suffix, phncdn.com, JP
host-suffix, twimg.com, JP
host-suffix, ytimg.com, JP
host-suffix, patreonusercontent.com, JP
# Static CDNs (small), fast response apis, Chinese apis and Chinese oversea CDNs
host, abs.twimg.com, HK
host, abs-0.twimg.com, HK
host, abs-1.twimg.com, HK
host, ajax.googleapis.com, HK
host, edith.xiaohongshu.com, HK
host, search.xiaohongshu.com, HK
host, pages.xiaohongshu.com, HK
host, upos-hz-mirrorakam.akamaized.net, HK
host, upos-sz-mirrorakam.akamaized.net, HK
host, upos-sz-mirroraliov.bilivideo.com, HK
host, upos-sz-mirrorcosov.bilivideo.com, HK
host-suffix, twitchcdn.net, HK
host-suffix, twitchsvc.net, HK
host-suffix, nflximg.com, HK
host-suffix, nflximg.net, HK
host, g.whatsapp.net, HK
host, v.whatsapp.net, HK
host-suffix, cdn.whatsapp.net, HK
host-suffix, static.whatsapp.net, HK
host, rupload.facebook.com, HK
host-suffix, fbcdn.net, HK
host-suffix, oaistatic.com, HK
host-suffix, bgstatic.com, HK
host-suffix, bnbstatic.com, HK
host, ar-io.net, HK
host, cdn.bitopro.com, HK
host, stream.bitopro.com, HK
host, eppo-proxy.phantom.app, HK
host, wsdexpri.okx.com, HK
host, ab.chatgpt.com, HK
host, ws.chatgpt.com, HK
host, avatars.githubusercontent.com, HK
host-suffix, githubassets.com, HK
host, cdnjs.cloudflare.com, HK
# Cryptocurrencies, LINE, Taiwanese CDNs
host, api.suiet.app, TW
host, wallet.okx.com, TW
host-suffix, api.cx.metamask.io, TW
host-suffix, coinmarketcap.com, TW
host-suffix, phantom.app, TW
host-suffix, line.me, TW
host-suffix, line-scdn.net, TW
host-wildcard, aka*p.akamaized.net, TW
# Object storages, Chinese apis and Chinese oversea CDNs
host, mobilemaps.googleapis.com, SG
host, apm-native.xiaohongshu.com, SG
host, fe.xiaohongshu.com, SG
host, referee.xiaohongshu.com, SG
host, www.xiaohongshu.com, SG
host-suffix, amazonaws.com, SG
host-suffix, fastly.net, SG
host-suffix, fastly.jsdelivr.net, SG
host-suffix, larksuite.com, SG
host-suffix, tplinknbu.com, SG
host-suffix, cloudflaremirrors.com, SG
host-suffix, content-storage-upload.googleapis.com, SG
# Developer, Download, US based services
host, api.x.com, US
host, api.twitter.com, US
host, api.github.com, US
host, sora.chatgpt.com, US
host-suffix, office.com, US
host-suffix, officecdn.microsoft.com, US
host, copilot.microsoft.com, US
host-suffix, storage.googleapis.com, US
host-suffix, ghcr.io, US
host-suffix, registry.npmjs.org, US
host-suffix, nodejs.org, US
host-suffix, unpkg.com, US
host-suffix, gitlab.com, US
host-suffix, linkedin.com, US
host-suffix, coingtelegraph.com, US
# GDPR purpose
host, graph.facebook.com, EU
host, imap.gmail.com, EU
host-suffix, gemini.google, EU
host-suffix, gemini.google.com, EU
host, aisandbox-pa.googleapis.com, EU
host, proactivebackend-pa.googleapis.com, EU
host, robinfrontend-pa.googleapis.com, EU
host-suffix, notebooklm.google, EU
host-suffix, notebooklm.google.com, EU
host, cloudcode-pa.googleapis.com, EU
host, antigravity.google, EU
host, antigravity-unleash.goog, EU
host, daily-cloudcode-pa.googleapis.com, EU
host-suffix, googleadservices.com, EU
host-suffix, bing.com, EU
host-suffix, msn.com, EU
host-suffix, t.co, EU
host-suffix, twitter.com, EU
host-suffix, x.com, EU
host-suffix, medium.com, EU
host-suffix, pornhub.com, EU