host, cn.bing.com, reject
host-suffix, linkedin.cn, reject
host-suffix, xy.fbcdn.net, reject
host-suffix, xz.fbcdn.net, reject
host-suffix, tplinkcloud.com, direct
host, lh3.googleusercontent.com, JP
host, lh4.googleusercontent.com, JP
host, lh5.googleusercontent.com, JP
host-suffix, redditstatic.com, JP
host-suffix, fbcdn.net, JP
host-suffix, phncdn.com, JP
host-suffix, twimg.com, JP
host, abs.twimg.com, HK
host, abs-0.twimg.com, HK
host, abs-1.twimg.com, HK
host, edith.xiaohongshu.com, HK
host, upos-hz-mirrorakam.akamaized.net, HK
host, upos-sz-mirrorakam.akamaized.net, HK
host, upos-sz-mirroraliov.bilivideo.com, HK
host, g.whatsapp.net, HK
host, v.whatsapp.net, HK
host-suffix, cdn.whatsapp.net, HK
host, gateway.instagram.com, HK
host, test-gateway.instagram.com, HK
host-suffix, oaistatic.com, HK
host-suffix, line-scdn.net, HK
host-suffix, bgstatic.com, HK
host-suffix, bnbstatic.com, HK
host-suffix, coinmarketcap.com, HK
host, ar-io.net, HK
host, cdn.bitopro.com, HK
host, stream.bitopro.com, HK
host, eppo-proxy.phantom.app, HK
host, wsdexpri.okx.com, HK
host, ab.chatgpt.com, HK
host, ws.chatgpt.com, HK
host, api.suiet.app, TW
host-suffix, api.cx.metamask.io, TW
host-suffix, phantom.app, TW
host-suffix, line.me, TW
host-wildcard, aka*p.akamaized.net, TW
host, web.facebook.com, TW
host, api.x.com, US
host, api.twitter.com, US
host, api.github.com, US
host, chat.openai.com, US
host, ios.chat.openai.com, US
host-suffix, linkedin.com, US
host-suffix, coingtelegraph.com, US
host, graph.facebook.com, EU
host, graph.instagram.com, EU
host, imap.gmail.com, EU
host, xai.chronosphere.io, EU
host-suffix, googleadservices.com, EU
host-suffix, bing.com, EU
host-suffix, msn.com, EU
host-suffix, twitter.com, EU
host-suffix, x.com, EU
ip-asn, 38631, direct