host, init.ess.apple.com, TW
host, gateway.icloud.com, TW
host-suffix, ls.apple.com, SG
host, imap.gmail.com, TW_RELAY, via-interface=%TUN%
host, pay.bilibili.com, direct
host, mall.bilibili.com, direct
host, api.vc.bilibili.com, direct
host, app.bilibili.com, direct
host-suffix, bilibili.com, HK
host, sgminorshort.wechat.com, proxy
host-suffix, wechat.com, direct
ip-asn, 132203, direct