host-suffix, dns.wechat.com, reject
host, dl.wechat.com, direct
host, paydns.wechat.com, direct
host, sgshort.pay.wechat.com, direct
host, sgshort.mixpay.wechat.com, direct
host, sgquic.wechat.com, direct
host, tencentmap.wechat.com, direct
host-suffix, c2c.wechat.com, direct
host, sgminorshort.wechat.com, SG
host-suffix, wechat.com, WeChat
ip-asn, 132203, direct