host, grpc.biliapi.net, direct
host, lbs.map.qq.com, direct
host, api.appcenter.ms, direct
host, captive.apple.com, direct
host-suffix, msftconnecttest.com, direct
host-suffix, cdn-apple.com, direct
host-suffix, pool.ntp.org, direct
host, graph.facebook.com, proxy