host, t2.xiaohongshu.com, direct
host, t3.xiaohongshu.com, direct
host, mall.xiaohongshu.com, direct
host, edith.xiaohongshu.com, direct
host, apm-native.xiaohongshu.com, direct
host-suffix, xiaohongshu.com, proxy